@font-face {
  src: url(../../assets/fonts/Poppins-Light.ttf);
  font-family: Poppins-Light;
}
@font-face {
  src: url(../../assets/fonts/Poppins-Regular.ttf);
  font-family: Poppins-Regular;
}
@font-face {
  src: url(../../assets/fonts/Poppins-Medium.ttf);
  font-family: Poppins-Medium;
}
@font-face {
  src: url(../../assets/fonts/Poppins-Semibold.ttf);
  font-family: Poppins-Semibold;
}
@font-face {
  src: url(../../assets/fonts/Poppins-Bold.ttf);
  font-family: Poppins-Bold;
}
@font-face {
  src: url(../../assets/fonts/Roboto-Bold.ttf);
  font-family: Roboto-Bold;
}
@font-face {
  src: url(../../assets/fonts/Roboto-Medium.ttf);
  font-family: Roboto-Medium;
}
@font-face {
  src: url(../../assets/fonts/Roboto-Regular.ttf);
  font-family: Roboto-Regular;
}
/* HEADER */
.header-fluid {
  padding: 0px;
  position: absolute;
  overflow: hidden;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 9999;
}
.header-fluid .header-container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-fluid .header-container .header-navbar .header-navbar-brand {
  color: #ffffff;
  font-family: Roboto-Regular;
  font-size: 20px;
}
.header-fluid .header-container .header-navbar-collapse ul li a {
  color: #ffffff;
  font-family: Roboto-Regular;
  font-size: 14px;
}
.header-fluid .header-container .header-navbar-collapse ul li a:hover, .header-fluid .header-container .header-navbar-collapse ul li a:focus {
  background: transparent;
}
.header-fluid .header-container .header-navbar-collapse ul li a:last-child {
  padding-right: 0;
}

/* HOMEPAGE */
.home-banner-fluid {
  background: url(./../images/home_banner_overlay.png) center center no-repeat;
  background-size: cover;
  padding: 0px;
}
.home-banner-fluid .home-banner-container .home-banner-content {
  padding: 0;
  padding-top: 200px;
  padding-bottom: 75px;
}
.home-banner-fluid .home-banner-container .home-banner-content .home-banner-title h2 {
  color: #000000;
  font-family: Poppins-Semibold;
  font-size: 48px;
  margin: 0px;
  padding: 15px 0px 10px 1px;
  text-align: center;
}
.home-banner-fluid .home-banner-container .home-banner-content .home-banner-title h2 span {
  color: #0130A9;
  background: url(./../images/heart.png) left center no-repeat;
  padding: 15px 0 45px 38px;
}
.home-banner-fluid .home-banner-container .home-banner-content .home-banner-title p {
  color: #000000;
  font-family: Poppins-Semibold;
  font-size: 18px;
  padding-top: 75px;
  text-align: center;
  width: 75%;
  margin: auto;
}
.home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover {
  margin: auto;
  float: none;
  text-align: center;
  padding: 40px 0px;
}
.home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-holiday, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-studying, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-visiting {
  box-shadow: none;
  background-color: #0130A9;
  color: #ffffff;
  font-family: Poppins-Regular;
  font-size: 16px;
  height: 42px;
  margin: 0px 10px;
  width: 30%;
  padding: 0px 12px;
}
.home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-holiday img, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-studying img, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-visiting img {
  float: left;
}
.home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-holiday .right-arrow, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-studying .right-arrow, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-visiting .right-arrow {
  float: right;
  padding-top: 2px;
}

.medibank-content-fluid {
  padding: 0px;
}
.medibank-content-fluid .medibank-content-container {
  padding: 50px 0px;
}
.medibank-content-fluid .medibank-content-container h3 {
  color: #32436f;
  font-size: 30px;
  font-family: Poppins-Medium;
  text-align: center;
  margin: 0px;
  padding: 10px 0px 10px;
}
.medibank-content-fluid .medibank-content-container .benifits-overseas {
  padding: 35px 0;
}
.medibank-content-fluid .medibank-content-container .benifits-overseas .benifits-content {
  padding: 0px;
}
.medibank-content-fluid .medibank-content-container .benifits-overseas .benifits-content h4 {
  color: #32436f;
  font-size: 20px;
  font-family: Poppins-Medium;
  margin: 0px;
  padding: 0px 0px 10px;
}
.medibank-content-fluid .medibank-content-container .benifits-overseas .benifits-content p {
  color: #777777;
  font-size: 14px;
  font-family: Poppins-Light;
  margin: 0px;
}
.medibank-content-fluid .medibank-content-container .beat-images {
  padding: 10px 0px 0;
}

.looking-fluid {
  padding: 40px 0px;
  background-color: #ececec;
}
.looking-fluid .looking-container {
  padding: 20px 0px;
}
.looking-fluid .looking-container h3 {
  color: #32436f;
  font-size: 30px;
  font-family: Poppins-Medium;
  text-align: center;
  margin: 0px;
  padding: 0px 0px 0px;
}
.looking-fluid .looking-container p {
  color: #777777;
  font-size: 14px;
  font-family: Poppins-Light;
  text-align: center;
  margin: 0px;
}
.looking-fluid .looking-container .looking-particular {
  margin: auto;
  float: none;
  padding: 20px 0px;
  text-align: center;
}
.looking-fluid .looking-container .looking-particular .cover-button {
  margin-bottom: 15px;
}
.looking-fluid .looking-container .looking-particular .cover-button .btn-cover {
  width: 23%;
  background: #ffffff;
  padding: 20px 20px 20px 20px;
  margin: 0px 10px;
}
.looking-fluid .looking-container .looking-particular .cover-button .btn-cover .hover-image {
  display: none;
}
.looking-fluid .looking-container .looking-particular .cover-button .btn-cover:focus {
  outline: none;
}
.looking-fluid .looking-container .looking-particular .cover-button .btn-cover:hover {
  background: #0130A9;
}
.looking-fluid .looking-container .looking-particular .cover-button .btn-cover:hover a, .looking-fluid .looking-container .looking-particular .cover-button .btn-cover:hover .right-arrow {
  color: #ffffff;
}
.looking-fluid .looking-container .looking-particular .cover-button .btn-cover:hover .hover-image {
  display: block;
}
.looking-fluid .looking-container .looking-particular .cover-button .btn-cover:hover .static-image {
  display: none;
}
.looking-fluid .looking-container .looking-particular .cover-button .btn-cover a {
  color: #32436f;
  font-size: 16px;
  font-family: Poppins-Medium;
  box-shadow: none;
  text-decoration: none;
}
.looking-fluid .looking-container .looking-particular .cover-button .btn-cover .right-arrow {
  float: right;
  font-size: 20px;
  color: #32436f;
}
.looking-fluid .looking-container .looking-particular .cover-button .btn-cover.btn-families {
  padding: 15px 20px 15px 20px;
}
.looking-fluid .looking-container .looking-particular .cover-button .btn-cover.btn-families a {
  vertical-align: -webkit-baseline-middle;
}
.looking-fluid .looking-container .looking-particular .cover-button .btn-cover.btn-families .right-arrow {
  padding-top: 5px;
}
.looking-fluid .looking-container .looking-particular .cover-button img {
  float: left;
}
.looking-fluid .looking-container .beat-images {
  padding: 10px 0px 10px;
}

/* FOOTER */
.footer-fluid {
  background-color: #27313C;
  padding: 25px 0px;
}
.footer-fluid .footer-container {
  padding: 0;
}
.footer-fluid .footer-container .footer-main {
  padding: 0;
}
.footer-fluid .footer-container .footer-main .footer-menu h4 {
  color: #ffffff;
  font-size: 18px;
  font-family: Poppins-Medium;
  line-height: 40px;
  margin: 0px;
}
.footer-fluid .footer-container .footer-main .footer-menu ul {
  padding-left: 0px;
}
.footer-fluid .footer-container .footer-main .footer-menu ul li {
  line-height: 35px;
}
.footer-fluid .footer-container .footer-main .footer-menu ul li a {
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins-Regular;
  text-decoration: none;
  margin: 0px;
}
.footer-fluid .footer-container .footer-main .footer-menu ul li.social-media-icons a i {
  font-size: 30px;
}
.footer-fluid .footer-container .footer-main .footer-menu ul.social-menu, .footer-fluid .footer-container .footer-main .footer-menu .social-connect {
  text-align: right;
}

.footer-content {
  background-color: #000000;
  height: 42px;
}
.footer-content p {
  color: #ffffff;
  font-size: 12px;
  font-family: Poppins-Regular;
  padding: 12px 0px;
  margin: 0px;
  text-align: center;
}

/* TOOLTIPSTER */
.tooltipster-default {
  border: none;
  background: #fff;
  color: #a4aaac;
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.tooltipster-default .tooltipster-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
  overflow: hidden;
}

/* RESULT PAGE */
.result-banner-fluid {
  background: url(../images/result_banner.png) center center no-repeat;
  background-size: cover;
  height: auto;
}
.result-banner-fluid .result-contain {
  padding: 0;
  padding-bottom: 25px;
  padding-top: 210px;
}
.result-banner-fluid .result-top-text {
  font-family: Poppins-Bold;
  font-size: 45px;
  font-weight: 400;
  color: #fff;
  margin: 0;
}
.result-banner-fluid .result-sub-text {
  font-family: Poppins-Regular;
  font-size: 35px;
  font-weight: 400;
  color: #fff;
  margin: 0;
  margin-top: 10px;
}

.result-container, .result-container div {
  padding: 0;
}
.result-container .spinner-container, .result-container div .spinner-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/ajax_spinner.gif) center no-repeat #fff;
}
.result-container .result-title, .result-container div .result-title {
  font-family: Poppins-Semibold;
  color: #32436F;
}
.result-container .other-types, .result-container div .other-types {
  font-family: Poppins-Regular;
  color: #8E9DAE;
  font-size: 14px;
}
.result-container .other-types select, .result-container div .other-types select {
  font-family: Poppins-Medium;
  color: #32436F;
  font-size: 14px;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  display: inline-block;
  width: auto;
  -webkit-appearance: menulist-button;
  background: none;
}
.result-container table, .result-container div table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 8px;
}
.result-container table tr td, .result-container div table tr td {
  padding: 10px;
  border: 0;
  vertical-align: middle;
  line-height: 1.42857143;
}
.result-container .row-dark-blue, .result-container div .row-dark-blue {
  background-color: #32436F;
  color: #f8f8f8;
  font-family: Poppins-Medium;
  font-size: 14px;
}
.result-container .row-light-blue, .result-container div .row-light-blue {
  background-color: #DBE3FA;
  color: #333;
  font-family: Poppins-Regular;
  font-size: 12px;
}
.result-container .row-gray, .result-container div .row-gray {
  background-color: #ECEAEB;
  color: #333;
  font-family: Poppins-Regular;
  font-size: 12px;
}
.result-container .row-light-gray, .result-container div .row-light-gray {
  background-color: #f3f3f3;
}
.result-container .result-table tr td, .result-container .nav-table tr td, .result-container div .result-table tr td, .result-container div .nav-table tr td {
  width: 15%;
  height: 60px;
}
.result-container .result-table tr td:first-child, .result-container .nav-table tr td:first-child, .result-container div .result-table tr td:first-child, .result-container div .nav-table tr td:first-child {
  width: 22%;
  height: 60px;
  text-align: left;
}
.result-container .premium, .result-container div .premium {
  color: #e91e63;
  font-family: Poppins-Medium;
  font-size: 18px;
}
.result-container .premium-type, .result-container div .premium-type {
  color: #666;
  font-family: Poppins-Regular;
  font-size: 12px;
}
.result-container .buy-now-btn, .result-container div .buy-now-btn {
  color: #fff;
  font-family: Poppins-Regular;
  font-size: 12px;
  background-color: #39D10A;
  border-radius: 20px;
  padding: 5px 20px;
  border: 0;
  margin-top: 10px;
}
.result-container .buy-now-btn:active, .result-container .buy-now-btn:focus, .result-container div .buy-now-btn:active, .result-container div .buy-now-btn:focus {
  outline: 0;
}
.result-container table tr .pdf a, .result-container div table tr .pdf a {
  font-size: 26px;
  color: red;
  text-decoration: none;
}
.result-container table tr .pdf a:hover, .result-container table tr .pdf a:focus, .result-container table tr .pdf a:visited, .result-container div table tr .pdf a:hover, .result-container div table tr .pdf a:focus, .result-container div table tr .pdf a:visited {
  text-decoration: none;
}
.result-container table tr td .left-arrow, .result-container div table tr td .left-arrow {
  left: 18px;
  cursor: pointer;
  margin-top: 0;
  float: left;
}
.result-container table tr td .right-arrow, .result-container div table tr td .right-arrow {
  float: right;
  margin-top: 0;
  cursor: pointer;
}
.result-container .paginate, .result-container div .paginate {
  font-family: Poppins-Medium;
  font-size: 14px;
  padding-left: 0;
  border-radius: 4px;
  margin-left: -15px;
  margin-bottom: 10px;
}
.result-container ul.paginate, .result-container div ul.paginate {
  color: #32436F;
  padding: 0 10px;
}
.result-container ul.paginate li, .result-container div ul.paginate li {
  display: inline-block;
  padding: 0 3px;
}
.result-container ul.filter-links li, .result-container div ul.filter-links li {
  display: inline-block;
  padding: 0 3px;
}
.result-container ul.paginate a, .result-container div ul.paginate a {
  font-family: Poppins-Medium;
  font-size: 14px;
  color: #32436F;
  display: inline-block;
  padding: 5px 7px;
  border: 1px solid #ffffff;
  text-decoration: none;
}
.result-container ul.paginate a:hover, .result-container ul.paginate a.current, .result-container div ul.paginate a:hover, .result-container div ul.paginate a.current {
  background: #32436F;
  color: #fff !important;
}
.result-container .result-table .img-responsive, .result-container div .result-table .img-responsive {
  display: inline !important;
}
.result-container .result-table tr .fund-name, .result-container div .result-table tr .fund-name {
  vertical-align: top;
}
.result-container .result-table tr td .policy-company, .result-container div .result-table tr td .policy-company {
  min-height: 40px;
}
.result-container .result-table tr td .policy-name, .result-container div .result-table tr td .policy-name {
  font-size: 11px;
  color: #f07722;
}
.result-container .nav-table tr:first-child td, .result-container div .nav-table tr:first-child td {
  height: 10px;
  padding: 0;
  color: #32436F;
  font-family: Poppins-Medium;
}
.result-container .nav-table tr:first-child td .prev, .result-container div .nav-table tr:first-child td .prev {
  float: left;
  margin-top: -3px;
}
.result-container .nav-table tr:first-child td .next, .result-container div .nav-table tr:first-child td .next {
  float: right;
  margin-top: -3px;
}
.result-container .nav-table tr:first-child td.previous-item, .result-container div .nav-table tr:first-child td.previous-item {
  text-align: left;
  vertical-align: middle;
}
.result-container .nav-table tr:first-child td.next-item, .result-container div .nav-table tr:first-child td.next-item {
  text-align: right;
  vertical-align: middle;
}
.result-container .nav-table tr:first-child td .previous-btn, .result-container div .nav-table tr:first-child td .previous-btn {
  background: transparent;
  border: 0;
}
.result-container .nav-table tr:first-child td .next-btn, .result-container div .nav-table tr:first-child td .next-btn {
  background: transparent;
  border: 0;
}
.result-container .nav-table tr:first-child td .previous-btn:active, .result-container .nav-table tr:first-child td .previous-btn:hover, .result-container .nav-table tr:first-child td .previous-btn:focus, .result-container div .nav-table tr:first-child td .previous-btn:active, .result-container div .nav-table tr:first-child td .previous-btn:hover, .result-container div .nav-table tr:first-child td .previous-btn:focus {
  outline: 0;
}
.result-container .nav-table tr:first-child td .next-btn:active, .result-container .nav-table tr:first-child td .next-btn:hover, .result-container .nav-table tr:first-child td .next-btn:focus, .result-container div .nav-table tr:first-child td .next-btn:active, .result-container div .nav-table tr:first-child td .next-btn:hover, .result-container div .nav-table tr:first-child td .next-btn:focus {
  outline: 0;
}
.result-container .result-table tr td a:hover, .result-container .result-table tr td a:focus, .result-container .result-table tr td a:active, .result-container div .result-table tr td a:hover, .result-container div .result-table tr td a:focus, .result-container div .result-table tr td a:active {
  text-decoration: none;
}
.result-container .row-light-gray, .result-container div .row-light-gray {
  padding-bottom: 0;
}
.result-container .tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content, .result-container div .tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {
  color: #6b6a69 !important;
}
.result-container .fixed-head.stuck, .result-container div .fixed-head.stuck {
  position: fixed;
  top: 0px;
  z-index: 999;
}
.result-container .tooltipster-content, .result-container div .tooltipster-content {
  color: #6b6a69 !important;
}

/* INNER VISA PAGES */
.visa-banner-fluid {
  padding: 0px;
}
.visa-banner-fluid .visa-banner-container .visa-banner-content {
  padding: 0;
  padding-top: 230px;
  padding-bottom: 240px;
  text-align: center;
}
.visa-banner-fluid .visa-banner-container .visa-banner-content .visa-banner-title h2 {
  color: #000000;
  font-family: Poppins-Semibold;
  font-size: 48px;
  margin: 0px;
  padding: 15px 0px 10px 1px;
  text-align: center;
}
.visa-banner-fluid .visa-banner-container .visa-banner-content .visa-banner-title h2 span {
  color: #0130A9;
}
.visa-banner-fluid .visa-banner-container .visa-banner-content .visa-banner-title p {
  color: #000000;
  font-family: Poppins-Semibold;
  font-size: 24px;
  padding-top: 15px;
}
.visa-banner-fluid .visa-banner-container .visa-banner-content .visa-overseas-cover {
  padding: 20px 0px;
}
.visa-banner-fluid .visa-banner-container .visa-banner-content .visa-overseas-cover p {
  color: #000000;
  font-family: Poppins-Semibold;
  font-size: 18px;
  padding-top: 15px;
}

@media (min-width: 993px) and (max-width: 1200px) {
  .home-banner-fluid .home-banner-container .home-banner-content {
    padding-top: 140px;
    padding-bottom: 20px;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-holiday, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-studying, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-visiting {
    font-size: 14px;
    padding: 0px 10px;
  }

  .visa-banner-fluid .visa-banner-container .visa-banner-content {
    padding-top: 140px;
    padding-bottom: 20px;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-banner-title h2 {
    font-size: 45px;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-overseas-cover .visa-overseas-button p {
    font-size: 14px;
    padding: 0px 10px;
  }

  .looking-fluid .looking-container .looking-particular .cover-button .btn-cover {
    padding: 20px 15px 20px 15px;
    margin: 0px 5px;
  }
  .looking-fluid .looking-container .looking-particular .cover-button .btn-cover a {
    font-size: 14px;
  }

  .medibank-content-fluid .medibank-content-container .benifits-overseas {
    padding: 25px 0;
  }

  .result-banner-fluid .result-table tr td {
    width: 10%;
  }
  .result-banner-fluid .result-table tr td:first-child {
    width: 15%;
  }
  .result-banner-fluid .result-top-text {
    font-size: 36px;
  }
  .result-banner-fluid .result-sub-text {
    font-size: 26px;
  }
  .result-banner-fluid .result-contain {
    padding-top: 135px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .home-banner-fluid .home-banner-container .home-banner-content {
    padding-top: 110px;
    padding-bottom: 0px;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-banner-title h2 {
    font-size: 30px;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-banner-title h2 span {
    padding: 40px 0 60px 38px;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover {
    padding: 30px 0;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-holiday, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-studying, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-visiting {
    width: 50%;
    margin-bottom: 15px;
  }

  .visa-banner-fluid .visa-banner-container .visa-banner-content {
    padding-top: 110px;
    padding-bottom: 0px;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-banner-title h2 {
    font-size: 30px;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-overseas-cover {
    padding: 15px 0;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-overseas-cover p {
    font-size: 14px;
  }

  .medibank-content-fluid .medibank-content-container {
    padding: 30px 0px;
  }
  .medibank-content-fluid .medibank-content-container .benifits-overseas {
    padding: 20px 0px;
  }
  .medibank-content-fluid .medibank-content-container .benifits-overseas .benifits-content .benifits-cover {
    padding: 0px;
  }

  .looking-fluid {
    padding: 30px 0px;
  }
  .looking-fluid .looking-container .looking-particular .cover-button {
    margin-bottom: 0px;
  }
  .looking-fluid .looking-container .looking-particular .cover-button .btn-cover {
    width: 47%;
    margin-bottom: 15px;
  }

  .result-banner-fluid .result-top-text {
    font-size: 28px !important;
  }
  .result-banner-fluid .result-sub-text {
    font-size: 22px !important;
  }
  .result-banner-fluid .result-contain {
    padding-top: 100px;
    padding-bottom: 10px;
  }

  .result-container table {
    border-spacing: 5px;
  }
  .result-container .row-dark-blue {
    font-size: 12px;
  }
  .result-container .row-light-blue {
    font-size: 11px;
  }
  .result-container .row-gray {
    font-size: 11px;
  }
  .result-container .premium {
    font-size: 15px;
  }
  .result-container .premium-type {
    font-size: 11px;
  }
  .result-container .buy-now-btn {
    font-size: 11px !important;
    padding: 5px 12px !important;
    margin-top: 10px;
  }
}
@media (min-width: 651px) and (max-width: 767px) {
  .header-fluid .header-container .header-navbar .navbar-toggle {
    border: 1px solid #000;
  }
  .header-fluid .header-container .header-navbar .navbar-toggle .icon-bar {
    background: #000;
  }
  .header-fluid .header-container .header-navbar-collapse .navbar-nav {
    background: #32436f;
    margin: 0 -15px;
  }

  .home-banner-fluid .home-banner-container .home-banner-content {
    padding-top: 110px;
    padding-bottom: 0px;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-banner-title h2 {
    font-size: 30px;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-banner-title h2 span {
    padding: 40px 0 60px 38px;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover {
    padding: 30px 0;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-holiday, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-studying, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-visiting {
    width: 50%;
    margin-bottom: 15px;
  }

  .visa-banner-fluid .visa-banner-container .visa-banner-content {
    padding-top: 110px;
    padding-bottom: 0px;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-banner-title h2 {
    font-size: 26px;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-banner-title p {
    font-size: 20px;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-overseas-cover {
    padding: 15px 0;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-overseas-cover p {
    font-size: 14px;
  }

  .medibank-content-fluid .medibank-content-container {
    padding: 30px 0px;
  }
  .medibank-content-fluid .medibank-content-container .benifits-overseas {
    padding: 20px 0px;
    padding-bottom: 0;
  }
  .medibank-content-fluid .medibank-content-container .benifits-overseas .benifits-content {
    padding-bottom: 15px;
  }
  .medibank-content-fluid .medibank-content-container .benifits-overseas .benifits-content .benifits-cover {
    padding: 0px;
  }

  .looking-fluid {
    padding: 30px 0px;
  }
  .looking-fluid .looking-container {
    padding: 0;
  }
  .looking-fluid .looking-container .looking-particular {
    padding-bottom: 0;
  }
  .looking-fluid .looking-container .looking-particular .cover-button {
    margin-bottom: 0px;
  }
  .looking-fluid .looking-container .looking-particular .cover-button .btn-cover {
    width: 47%;
    margin-bottom: 15px;
  }

  .footer-fluid {
    text-align: center;
  }
  .footer-fluid .footer-container .footer-main .footer-menu .social-connect, .footer-fluid .footer-container .footer-main .footer-menu ul.social-menu {
    text-align: center;
  }

  .result-banner-fluid .result-top-text {
    font-size: 25px !important;
    padding-left: 10px;
  }
  .result-banner-fluid .result-sub-text {
    font-size: 18px !important;
    padding-left: 10px;
  }
  .result-banner-fluid .result-contain {
    padding-top: 100px;
    padding-bottom: 10px;
  }

  .result-container .result-table tr td:first-child, .result-container .nav-table tr td:first-child, .result-container div .result-table tr td:first-child, .result-container div .nav-table tr td:first-child {
    text-align: center;
  }
  .result-container .result-table tr td:first-child, .result-container .nav-table tr td:first-child {
    height: 47px !important;
    text-align: center;
  }
  .result-container .result-table tr td, .result-container .result-table tr td:first-child {
    width: 50%;
  }
  .result-container h3, .result-container p {
    text-align: center;
  }
}
@media (min-width: 501px) and (max-width: 650px) {
  .header-fluid .header-container .header-navbar .navbar-toggle {
    border: 1px solid #000;
  }
  .header-fluid .header-container .header-navbar .navbar-toggle .icon-bar {
    background: #000;
  }
  .header-fluid .header-container .header-navbar-collapse .navbar-nav {
    background: #32436f;
    margin: 0 -15px;
  }

  .home-banner-fluid .home-banner-container .home-banner-content {
    padding-top: 110px;
    padding-bottom: 0px;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-banner-title h2 {
    font-size: 30px;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-banner-title h2 span {
    padding: 40px 0 60px 38px;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover {
    padding: 30px 0;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-holiday, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-studying, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-visiting {
    width: 65%;
    margin-bottom: 15px;
  }

  .visa-banner-fluid .visa-banner-container .visa-banner-content {
    padding-top: 110px;
    padding-bottom: 0px;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-banner-title h2 {
    font-size: 24px;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-banner-title p {
    font-size: 20px;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-overseas-cover {
    padding: 15px 0;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-overseas-cover p {
    font-size: 14px;
  }

  .medibank-content-fluid .medibank-content-container {
    padding: 30px 0px;
  }
  .medibank-content-fluid .medibank-content-container .benifits-overseas {
    padding: 20px 0px;
    padding-bottom: 0;
  }
  .medibank-content-fluid .medibank-content-container .benifits-overseas .benifits-content {
    padding-bottom: 20px;
  }
  .medibank-content-fluid .medibank-content-container .benifits-overseas .benifits-content h4 {
    font-size: 18px;
  }
  .medibank-content-fluid .medibank-content-container .benifits-overseas .benifits-content .benifits-cover {
    padding: 0px;
  }
  .medibank-content-fluid .medibank-content-container h3 {
    font-size: 24px;
  }

  .looking-fluid {
    padding: 30px 0px;
  }
  .looking-fluid .looking-container {
    padding: 0px;
  }
  .looking-fluid .looking-container .looking-particular {
    padding-bottom: 0;
  }
  .looking-fluid .looking-container .looking-particular .cover-button {
    margin-bottom: 0px;
  }
  .looking-fluid .looking-container .looking-particular .cover-button .btn-cover {
    width: 93%;
    margin-bottom: 10px;
    padding: 15px;
  }
  .looking-fluid .looking-container h3 {
    font-size: 24px;
  }

  .footer-fluid {
    text-align: center;
  }
  .footer-fluid .footer-container .footer-main .footer-menu .social-connect, .footer-fluid .footer-container .footer-main .footer-menu ul.social-menu {
    text-align: center;
  }

  .result-banner-fluid .result-top-text {
    font-size: 25px !important;
    padding-left: 10px;
  }
  .result-banner-fluid .result-sub-text {
    font-size: 18px !important;
    padding-left: 10px;
  }
  .result-banner-fluid .result-contain {
    padding-top: 100px;
    padding-bottom: 10px;
  }

  .result-container .result-table tr td:first-child, .result-container .nav-table tr td:first-child, .result-container div .result-table tr td:first-child, .result-container div .nav-table tr td:first-child {
    text-align: center;
  }
  .result-container .result-table tr td:first-child, .result-container .nav-table tr td:first-child {
    height: 47px !important;
    text-align: center;
  }
  .result-container h3 {
    text-align: center;
    font-size: 20px;
  }
  .result-container p {
    text-align: center;
    font-size: 12px;
  }
}
@media (min-width: 0px) and (max-width: 500px) {
  .header-fluid .header-container .header-navbar .header-navbar-brand {
    font-size: 13px;
  }
  .header-fluid .header-container .header-navbar .navbar-toggle {
    border: 1px solid #000;
  }
  .header-fluid .header-container .header-navbar .navbar-toggle .icon-bar {
    background: #000;
  }
  .header-fluid .header-container .header-navbar-collapse .navbar-nav {
    background: #32436f;
    margin: 0 -15px;
  }

  .home-banner-fluid .home-banner-container .home-banner-content {
    padding-top: 100px;
    padding-bottom: 0;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover {
    padding: 20px 0px;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-holiday, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-studying, .home-banner-fluid .home-banner-container .home-banner-content .home-overseas-cover .home-overseas-button .btn-visiting {
    width: 100% !important;
    margin: 0px 0px 15px !important;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-banner-title h2 {
    font-size: 18px !important;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-banner-title h2 span {
    padding: 45px 0 70px 38px;
  }
  .home-banner-fluid .home-banner-container .home-banner-content .home-banner-title p {
    font-size: 16px !important;
  }

  .visa-banner-fluid .visa-banner-container .visa-banner-content {
    padding-top: 110px;
    padding-bottom: 0px;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-banner-title h2 {
    font-size: 20px;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-banner-title p {
    font-size: 16px;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-overseas-cover {
    padding: 15px 0;
  }
  .visa-banner-fluid .visa-banner-container .visa-banner-content .visa-overseas-cover p {
    font-size: 12px;
  }

  .medibank-content-fluid {
    padding: 0px;
  }
  .medibank-content-fluid .medibank-content-container {
    padding: 30px 0px;
  }
  .medibank-content-fluid .medibank-content-container .benifits-overseas {
    padding: 20px 0;
  }
  .medibank-content-fluid .medibank-content-container .benifits-overseas .benifits-content h4 {
    font-size: 18px;
  }
  .medibank-content-fluid .medibank-content-container h3 {
    font-size: 20px;
  }
  .medibank-content-fluid .medibank-content-container .benifits-cover {
    padding-bottom: 20px;
  }

  .looking-fluid {
    padding: 30px 0px;
  }
  .looking-fluid .looking-container {
    padding: 0;
  }
  .looking-fluid .looking-container h3 {
    font-size: 20px;
  }
  .looking-fluid .looking-container .looking-particular {
    padding-bottom: 0;
  }
  .looking-fluid .looking-container .looking-particular .cover-button .btn-cover {
    width: 93%;
    padding: 15px;
    margin: 5px 10px;
  }

  .footer-fluid {
    text-align: center;
  }
  .footer-fluid .footer-container .footer-main .footer-menu .social-connect, .footer-fluid .footer-container .footer-main .footer-menu ul.social-menu {
    text-align: center;
  }

  .result-banner-fluid .result-top-text {
    font-size: 18px !important;
    padding-left: 10px;
  }
  .result-banner-fluid .result-sub-text {
    font-size: 14px !important;
    padding-left: 10px;
  }
  .result-banner-fluid .result-contain {
    padding-top: 100px;
    padding-bottom: 10px;
  }

  .result-container .result-table tr td:first-child, .result-container .nav-table tr td:first-child, .result-container div .result-table tr td:first-child, .result-container div .nav-table tr td:first-child {
    text-align: center;
  }
  .result-container .result-table tr td:first-child, .result-container .nav-table tr td:first-child {
    height: 47px !important;
    text-align: center;
  }
  .result-container .h3 {
    text-align: center;
    font-size: 14px;
  }
  .result-container p {
    text-align: center;
    font-size: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
