@font-face {src: url(font/Poppins-Semibold.ttf);font-family: PoppinsSemibold;}
@font-face {src: url(font/Poppins-Medium.ttf);font-family: PoppinsMedium;}
@font-face {src: url(font/Poppins-Regular.ttf);font-family: PoppinsRegular;}
@font-face {src: url(font/Poppins-Light.ttf);font-family: PoppinsLight;}
@font-face {src: url(font/Roboto-Bold.ttf);font-family: RobotoBold;}
@font-face {src: url(font/Roboto-Medium.ttf);font-family: RobotoMedium;}
@font-face {src: url(font/Roboto-Regular.ttf);font-family: RobotoRegular;}

/* Header & Footer css */
.navbar-brand{font-family: RobotoRegular;color: #ffffff !important;font-size: 20px;font-weight: 400;line-height: 19.8px;text-transform: uppercase;}
#PrimaryNavbar ul li a {font-family: RobotoRegular;color: #ffffff !important;font-size: 14px;font-weight: 400;line-height: 19.8px;}
.navbar-inverse {background-color: transparent;border-color: transparent;}
.home-banner-fluid {background: url(../images/home_banner_overlay.png) no-repeat;/*box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);*/background-size: cover;height: auto;text-align: center;}
.banner-contain{padding-top: 200px;padding-bottom: 200px;}
.banner_top_text{font-family: PoppinsSemibold;font-size: 48px;font-weight: 400;color: #000;}
.banner_top_text span {color: #0130a9;background: url(../images/heart.png) left center no-repeat;padding: 70px 0 100px 40px;}

/* Result Page */
.result_container,.result_container div{padding: 0}
.result_container .spinner_container {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(../images/ajax_spinner.gif) center no-repeat #fff;}
.result_container .result_title{font-family: PoppinsSemibold;color: #32436F;}
.result_container .other_types{font-family: PoppinsRegular;color: #8E9DAE;font-size: 14px;}
.result_container .other_types select{font-family: PoppinsMedium;color: #32436F;font-size: 14px;text-decoration: none;background-color: transparent;border: 0;display: inline-block;width: auto;-webkit-appearance: menulist-button;background: none;}
.result_container table{width: 100%;text-align: center;border-collapse: separate;border-spacing: 8px;}
.result_container table tr td{padding: 10px;border: 0;vertical-align: middle;line-height: 1.42857143;}
.result_container .row_dark_blue{background-color: #32436F;color: #f8f8f8;font-family: PoppinsMedium;font-size: 14px;}
.result_container .row_light_blue{background-color: #DBE3FA;color: #333;font-family: PoppinsRegular;font-size: 12px;}
.result_container .row_gray{background-color: #ECEAEB;color: #333;font-family: PoppinsRegular;font-size: 12px;}
.result_container .row_light_gray{background-color: #f3f3f3;}
.result_container .result_table tr td,.result_container .nav_table tr td{width: 15%;height: 60px;}
.result_container .result_table tr td:first-child,.result_container .nav_table tr td:first-child{width: 22%;height: 60px;text-align: left;}
.result_container .premium{color: #e91e63;font-family: PoppinsMedium;font-size: 18px;}
.result_container .premium_type{color: #666;font-family: PoppinsRegular;font-size: 12px;}
.result_container .buy_now_btn{color: #fff;font-family: PoppinsRegular;font-size: 12px;background-color: #39D10A;border-radius: 20px;padding: 5px 20px;border: 0;margin-top: 10px;}
.result_container .buy_now_btn:active, .result_container .buy_now_btn:focus{outline: 0;}
.result_container table tr .pdf a{font-size: 26px;color: red;text-decoration: none;}
.result_container table tr .pdf a:hover, .result_container table tr .pdf a:focus, .result_container table tr .pdf a:visited{text-decoration: none;}
.result_container table tr td .left_arrow{left: 18px;cursor: pointer;margin-top: 0;float: left;}
.result_container table tr td .right_arrow{float: right;margin-top: 0;cursor: pointer;}
.result_container .paginate {font-family: PoppinsMedium;font-size: 14px;padding-left: 0;border-radius: 4px;margin-left: -15px;margin-bottom: 10px;}
.result_container ul.paginate {color:#32436F;padding: 0 10px;}
.result_container ul.paginate li {display:inline-block;padding:0 3px;}
.result_container ul.filter_links li {display:inline-block;padding:0 3px;}
.result_container ul.paginate a {font-family: PoppinsMedium;font-size: 14px;color:#32436F;display:inline-block;padding:5px 7px;border:1px solid #ffffff;text-decoration:none;}
.result_container ul.paginate a:hover,ul.paginate a.current {background:#32436F;color:#fff !important;}
.result_container .result_table .img-responsive{display: inline !important;}
.result_container .result_table tr .fund_name{vertical-align: top;}
.result_container .result_table tr td .policy_company{min-height: 40px;}
.result_container .result_table tr td .policy_name{font-size: 11px;color: #f07722;}
.result_container .nav_table tr:first-child td{height: 10px;padding: 0;color: #32436F;font-family: PoppinsMedium;}
.result_container .nav_table tr:first-child td .prev{float: left;margin-top: -3px;}
.result_container .nav_table tr:first-child td .next{float: right;margin-top: -3px;}
.result_container .nav_table tr:first-child td.previous_item{text-align: left;vertical-align: middle;}
.result_container .nav_table tr:first-child td.next_item{text-align: right;vertical-align: middle;}
.result_container .nav_table tr:first-child td .previous_btn{background: transparent;border: 0;}
.result_container .nav_table tr:first-child td .next_btn{background: transparent;border: 0;}
.result_container .nav_table tr:first-child td .previous_btn:active, .result_container .nav_table tr:first-child td .previous_btn:hover, .result_container .nav_table tr:first-child td .previous_btn:focus {outline: 0;}
.result_container .nav_table tr:first-child td .next_btn:active, .result_container .nav_table tr:first-child td .next_btn:hover, .result_container .nav_table tr:first-child td .next_btn:focus {outline: 0;}
.result_container .result_table tr td a:hover,.result_container .result_table tr td a:focus,.result_container .result_table tr td a:active{text-decoration: none;}
.result_container .row_light_gray{padding-bottom: 0;}
.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {color: #6b6a69 !important;}
.fixed_head.stuck {position: fixed;top: 0px;z-index: 999;}
.tooltipster-content {color: #6b6a69 !important;}


/* contact page css */
.contact-us-fluid .contact-container {
  padding: 20px 0px;
}
.contact-us-fluid .contact-container .content-main {
  padding: 0px 0px;
}
.contact-us-fluid .contact-container .content-main .contact-left {
  padding-left: 0px;
}
.contact-us-fluid .contact-container .content-main .contact-left h3 {
  font-family: PoppinsSemibold;
  font-size: 34px;
  line-height: 50px;
  text-transform: uppercase;
  color: #212121;
  font-weight: 700;
  margin: 0px;
  padding: 10px 0px;
}
.contact-us-fluid .contact-container .content-main .contact-right {
  padding-right: 0px;
}
.contact-us-fluid .contact-container .content-main .contact-right h3 {
  font-family: PoppinsSemibold;
  font-size: 34px;
  line-height: 50px;
  text-transform: uppercase;
  color: #212121;
  font-weight: 700;
  margin: 0px;
  padding: 10px 0px;
}
.contact-us-fluid .contact-container .content-main .contact-right .address {
  padding-bottom: 10px;
  padding-left: 44px;
  position: relative;
  font-size: 16px;
  font-family: PoppinsRegular;
  color: #03a9f4;
}
.contact-us-fluid .contact-container .content-main .contact-right .contact-1:before {
  content: "\f041";
}
.contact-us-fluid .contact-container .content-main .contact-right .address:before {
  font-family: 'FontAwesome';
  color: #03a9f4;
  font-size: 18px;
  position: absolute;
  left: 0;
}
.contact-us-fluid .contact-container .content-main .contact-right .contact-2:before {
  content: "\f095";
}
.contact-us-fluid .contact-container .content-main .contact-right .mapbox iframe {
  width: 100%;
  height: 280px;
  float: left;
  pointer-events: none;
}
.contact-us-fluid .contact-container .content-main .contact-right .address a {
  color: #03a9f4;
  font-size: 16px;
}
.contact-us-fluid .contact-container .content-main .contact-right .address a:active, .contact-us-fluid .contact-container .content-main .contact-right .address a:hover {
  outline: none;
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 991px) {
  .contact-us-fluid .contact-container .content-main {
    padding: 0px 15px;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  .contact-us-fluid .contact-container .content-main {
    padding: 0px 15px;
  }
  .contact-us-fluid .contact-container .content-main .contact-left {
    padding: 0;
  }
  .contact-us-fluid .contact-container .content-main .contact-left h3, .contact-us-fluid .contact-container .content-main .contact-right h3 {
    font-size: 18px;
  }
}
.wpcf7-form label {font-size: 16px;font-family: PoppinsRegular;color: #6e7681;font-weight: normal;padding-bottom: 5px;width: 100%}
.wpcf7 input[type="text"], .wpcf7 input[type="email"]{border: 1px solid #a7a7a7;background-color: #fff;box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;padding: 10px 8px 10px 60px;font-family: PoppinsRegular;border-radius: 3px;-webkit-border-radius: 3px;color: #6e7681;font-size: 16px;height: 44px;margin-top: 5px;width: 100%}
.wpcf7 .name-input {background-image: url(../images/sprit-img.png);background-repeat: no-repeat;background-position: left top;background-position: 16px 8px;}
.wpcf7 .email-input{background-image: url(../images/sprit-img.png);background-repeat: no-repeat;background-position: left top;background-position: 16px -87px;}
.wpcf7 .subject-input{background-image: url(../images/sprit-img.png);background-repeat: no-repeat;background-position: left top;background-position: 16px -185px;}
.wpcf7 .meassge-input {background-image: url(../images/sprit-img.png);background-repeat: no-repeat;background-position: left top;background-position: 16px -282px;}
.wpcf7 textarea {border: 1px solid #a7a7a7;background-color: #fff;box-sizing: border-box;-webkit-box-sizing: border-box;-ms-box-sizing: border-box;-o-box-sizing: border-box;padding: 10px 8px 10px 60px;height: 163px;resize: vertical;font-family: PoppinsRegular;border-radius: 3px;-webkit-border-radius: 3px;color: #6e7681;font-size: 16px;margin-top: 5px;width: 100%}
/*.wpcf7 input[type="text"]:focus, .wpcf7 input[type="email"]:focus, .wpcf7 textarea:focus,.wpcf7 input[type="text"]:hover, .wpcf7 input[type="email"]:hover, .wpcf7 textarea:hover{box-shadow: none;outline: none;}*/
.wpcf7 input[type=submit] {padding: 10px 64px;background: #03a9f4;font-size: 18px;font-family: PoppinsSemibold;color: #fff;display: block;text-transform: uppercase;border-radius: 5px;-webkit-border-radius: 5px; width: 100%;box-sizing: border-box;-webkit-box-sizing: border-box;border:0;margin-top: 15px;}


@media (min-width:993px) and (max-width:1200px){
	.result_container .result_table tr td{width: 10%;}
	.result_container .result_table tr td:first-child{width: 15%;}
}
@media (min-width:768px) and (max-width:992px){
	.result_container table{border-spacing: 5px;}
	.result_container .row_dark_blue{font-size: 12px;}
	.result_container .row_light_blue{font-size: 11px;}
	.result_container .row_gray{font-size: 11px;}
	.result_container .premium{font-size: 15px;}
	.result_container .premium_type{font-size: 11px;}
	.result_container .buy_now_btn{font-size: 11px;padding: 5px 14px;margin-top: 10px;}
}
@media (min-width:651px) and (max-width:767px){
  .result_container .result_table tr td:first-child, .result_container .nav_table tr td:first-child{height: 47px;text-align: center;}
	.result_container .result_table tr td,.result_container .result_table tr td:first-child{width: 50%;}
	.result_container h3,.result_container p{text-align: center;}
}
@media (min-width:501px) and (max-width:650px){
  .result_container .result_table tr td:first-child, .result_container .nav_table tr td:first-child{height: 47px;text-align: center;}
	.result_container h3{text-align: center;font-size: 20px;}
	.result_container p{text-align: center;font-size: 12px;}
}
@media (min-width:0px) and (max-width:500px){
  .result_container .result_table tr td:first-child, .result_container .nav_table tr td:first-child{height: 47px;text-align: center;}
	.result_container h3{text-align: center;font-size: 14px;}
	.result_container p{text-align: center;font-size: 12px;}
}