//
// Variables
//

//== Colors
$primary-white:           #ffffff;
$primary-black:           #000000;
$primary-blue:            #0130A9;
$primary-dark-blue:       #32436f;
$border-light:            #777777;
$primary-shadow:          #27313C;
$primary-medium:          #232C36;
$secondary-gray:		  #ececec;
$secondary-arrow: 		  #d63b3b;

$secondary-hover:         #2ecbd5;
$secondary-bold:          #eeeeee;
$secondary-light:         #6e7681;
$secondary-normal:        #F3F1F1;
$secondary-medium:        #656363;

//sizes
$fs-light:        		12px;
$fs-base:        		14px;
$fs-small:      		16px;
$fs-medium:				18px;
$fs-light-medium:		20px;
$fs-light-2-medium:		24px;
$fs-small-medium:		26px;
$fs-small-large:		30px;
$fs-large:				34px;
$fs-banner-large:		40px;
$fs-banner-larger:		45px;
$fs-event: 				48px;
$fs-banner: 			55px;


//font family
@font-face {
	src: url(../../assets/fonts/Poppins-Light.ttf);
	font-family: Poppins-Light;
}
@font-face {
	src: url(../../assets/fonts/Poppins-Regular.ttf);
	font-family: Poppins-Regular;
}
@font-face {
	src: url(../../assets/fonts/Poppins-Medium.ttf);
	font-family: Poppins-Medium;
}
@font-face {
	src: url(../../assets/fonts/Poppins-Semibold.ttf);
	font-family: Poppins-Semibold;
}
@font-face {
	src: url(../../assets/fonts/Poppins-Bold.ttf);
	font-family: Poppins-Bold;
}
@font-face {
	src: url(../../assets/fonts/Roboto-Bold.ttf);
	font-family: Roboto-Bold;
}
@font-face {
	src: url(../../assets/fonts/Roboto-Medium.ttf);
	font-family: Roboto-Medium;
}
@font-face {
	src: url(../../assets/fonts/Roboto-Regular.ttf);
	font-family: Roboto-Regular;
}

$primary-Light:           	Poppins-Light;
$primary-Regular:        	Poppins-Regular;
$primary-Medium:         	Poppins-Medium;
$primary-Semibold:          Poppins-Semibold;
$primary-Bold:          	Poppins-Bold;
$secondary-Regular:         Roboto-Regular;
$secondary-Medium:        	Roboto-Medium;
$secondary-Bold:            Roboto-Bold;