@import 'variables.scss';
/* HEADER */
.header-fluid{
	padding: 0px;
	position: absolute;
	overflow: hidden;
	left: 0px;
	right: 0px;
	top: 0px;
	z-index: 9999;
	.header-container{
		padding-top: 10px;
		padding-bottom: 10px;
		.header-navbar{
			.header-navbar-brand{
				color: $primary-white;
				font-family: $secondary-Regular;
				font-size: $fs-light-medium;
			}
		}
		.header-navbar-collapse{
			ul{
				li{
					a{
						color: $primary-white;
						font-family: $secondary-Regular;
						font-size: $fs-base;
					}
					a:hover, a:focus{
						background: transparent;
					}
					a:last-child{
						padding-right: 0;
					}
				}
			}
		}
	}
}

/* HOMEPAGE */
.home-banner-fluid{
	background: url(./../images/home_banner_overlay.png) center center no-repeat;
	background-size: cover;
	padding: 0px;
	.home-banner-container{
		.home-banner-content{
			padding: 0;
			padding-top: 200px;
			padding-bottom: 75px;
			.home-banner-title{
				h2{
					color: $primary-black;
					font-family: $primary-Semibold;
					font-size: 48px;
					margin: 0px;
					padding: 15px 0px 10px 1px;
					text-align: center;
					span{
						color: $primary-blue;
						background: url(./../images/heart.png) left center no-repeat;
						padding: 15px 0 45px 38px;
					}
				}
				p{
					color: $primary-black;
					font-family: $primary-Semibold;
					font-size: $fs-medium;
					padding-top: 75px;
					text-align: center;
					width: 75%;
					margin: auto;
				}
			}
			.home-overseas-cover{
				margin: auto;
				float: none;
				text-align: center;
				padding: 40px 0px;
				.home-overseas-button{
					.btn-holiday, .btn-studying, .btn-visiting{
						box-shadow: none;
						background-color: $primary-blue;
						color: $primary-white;
						font-family: $primary-Regular;
						font-size: $fs-small;
						height: 42px;
						margin: 0px 10px;
						width: 30%;
						padding: 0px 12px;
						img{
							float: left;
						}
						.right-arrow{
							float: right;
							padding-top: 2px;
						}
					}
				}
			}
		}
	}
}
.medibank-content-fluid{
	padding: 0px;
	.medibank-content-container{
		padding: 50px 0px;
		h3{
			color: $primary-dark-blue;
			font-size: $fs-small-large;
			font-family: $primary-Medium;
			text-align: center;
			margin: 0px;
			padding: 10px 0px 10px;
		}
		.benifits-overseas{
			padding: 35px 0;
			.benifits-content{
				padding: 0px;
				h4{
					color: $primary-dark-blue;
					font-size: $fs-light-medium;
					font-family: $primary-Medium;
					margin: 0px;
					padding: 0px 0px 10px;
				}
				p{
					color: $border-light;
					font-size: $fs-base;
					font-family: $primary-Light;
					margin: 0px;
				}
			}
		}
		.beat-images{
			padding: 10px 0px 0;
		}
	}
}
.looking-fluid{
	padding: 40px 0px;
	background-color: $secondary-gray;
	.looking-container{
		padding: 20px 0px;
		h3{
			color: $primary-dark-blue;
			font-size: $fs-small-large;
			font-family: $primary-Medium;
			text-align: center;
			margin: 0px;
			padding: 0px 0px 0px;
		}
		p{
			color: $border-light;
			font-size: $fs-base;
			font-family: $primary-Light;
			text-align: center;
			margin: 0px;
		}
		.looking-particular{
			margin: auto;
			float: none;
			padding: 20px 0px;
			text-align: center;
			.cover-button{
				margin-bottom: 15px;
				.btn-cover{
					width: 23%;
					background: $primary-white;
					padding: 20px 20px 20px 20px;
					margin: 0px 10px;
					.hover-image{
						display: none;
					}
					&:focus{
						outline: none;
					}
					&:hover{
						background: $primary-blue;
						a, .right-arrow{
							color: $primary-white;
						}
						.hover-image{
							display: block;
						}
						.static-image{
							display: none;
						}
					}
					a{
						color: $primary-dark-blue;
						font-size: $fs-small;
						font-family: $primary-Medium;
						box-shadow: none;
						text-decoration: none;
					}
					.right-arrow{
						float: right;
						font-size: $fs-light-medium;
						color: $primary-dark-blue;
					}
					&.btn-families{
						padding: 15px 20px 15px 20px;
						a{
							vertical-align: -webkit-baseline-middle;
						}
						.right-arrow{
							padding-top: 5px;
						}
					}
				}
				img{
					float: left;
				}
			}
		}
		.beat-images{
			padding: 10px 0px 10px;
		}
	}
}

/* FOOTER */
.footer-fluid{
	background-color: $primary-shadow;
	padding: 25px 0px;
	.footer-container{
		padding: 0;
		.footer-main{
			padding: 0;
			.footer-menu{
				h4{
					color: $primary-white;
					font-size: $fs-medium;
					font-family: $primary-Medium;
					line-height: 40px;
					margin: 0px;
				}
				ul{
					padding-left: 0px;
					li{
						line-height: 35px;
						a{
							color: $primary-white;
							font-size: $fs-base;
							font-family: $primary-Regular;
							text-decoration: none;
							margin: 0px;
						}
					}
					li.social-media-icons{
						a i{
							font-size: $fs-small-large;
						}
					}
				}
				ul.social-menu, .social-connect{
					text-align: right;
				}
			}
		}
	}	
}
.footer-content{
	background-color: $primary-black;
	height: 42px;
	p{
		color: $primary-white;
		font-size: $fs-light;
		font-family: $primary-Regular;
		padding: 12px 0px;
		margin: 0px;
		text-align: center;
	}
}

/* TOOLTIPSTER */
.tooltipster-default {
	border: none;background: #fff;color: #a4aaac;-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
	.tooltipster-content {font-family: Arial, sans-serif;font-size: 14px;line-height: 16px;padding: 8px 10px;overflow: hidden;}
}

/* RESULT PAGE */
.result-banner-fluid {
	background: url(../images/result_banner.png) center center no-repeat;background-size: cover;height: auto;
	.result-contain{padding: 0;padding-bottom: 25px;padding-top: 210px;}
	.result-top-text{font-family: $primary-Bold;font-size: 45px;font-weight: 400;color: #fff;margin: 0;}
	.result-sub-text{font-family: $primary-Regular;font-size: 35px;font-weight: 400;color: #fff;margin: 0;margin-top: 10px;}
}
.result-container,.result-container div{
	padding: 0;
	.spinner-container {position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 9999;background: url(../images/ajax_spinner.gif) center no-repeat #fff;}
	.result-title{font-family: $primary-Semibold;color: #32436F;}
	.other-types{
		font-family: $primary-Regular;color: #8E9DAE;font-size: 14px;
		select{font-family: $primary-Medium;color: #32436F;font-size: 14px;text-decoration: none;background-color: transparent;border: 0;display: inline-block;width: auto;-webkit-appearance: menulist-button;background: none;}
	}
	table{width: 100%;text-align: center;border-collapse: separate;border-spacing: 8px;}
	table tr td{padding: 10px;border: 0;vertical-align: middle;line-height: 1.42857143;}
	.row-dark-blue{background-color: #32436F;color: #f8f8f8;font-family: $primary-Medium;font-size: 14px;}
	.row-light-blue{background-color: #DBE3FA;color: #333;font-family: $primary-Regular;font-size: 12px;}
	.row-gray{background-color: #ECEAEB;color: #333;font-family: $primary-Regular;font-size: 12px;}
	.row-light-gray{background-color: #f3f3f3;}
	.result-table tr td, .nav-table tr td{width: 15%;height: 60px;}
	.result-table tr td:first-child, .nav-table tr td:first-child{width: 22%;height: 60px;text-align: left;}
	.premium{color: #e91e63;font-family: $primary-Medium;font-size: 18px;}
	.premium-type{color: #666;font-family: $primary-Regular;font-size: 12px;}
	.buy-now-btn{color: #fff;font-family: $primary-Regular;font-size: 12px;background-color: #39D10A;border-radius: 20px;padding: 5px 20px;border: 0;margin-top: 10px;}
	.buy-now-btn:active, .buy-now-btn:focus{outline: 0;}
	table tr .pdf a{font-size: 26px;color: red;text-decoration: none;}
	table tr .pdf a:hover, table tr .pdf a:focus, table tr .pdf a:visited{text-decoration: none;}
	table tr td .left-arrow{left: 18px;cursor: pointer;margin-top: 0;float: left;}
	table tr td .right-arrow{float: right;margin-top: 0;cursor: pointer;}
	.paginate {font-family: $primary-Medium;font-size: 14px;padding-left: 0;border-radius: 4px;margin-left: -15px;margin-bottom: 10px;}
	ul.paginate {color:#32436F;padding: 0 10px;}
	ul.paginate li {display:inline-block;padding:0 3px;}
	ul.filter-links li {display:inline-block;padding:0 3px;}
	ul.paginate a {font-family: $primary-Medium;font-size: 14px;color:#32436F;display:inline-block;padding:5px 7px;border:1px solid #ffffff;text-decoration:none;}
	ul.paginate a:hover,ul.paginate a.current {background:#32436F;color:#fff !important;}
	.result-table .img-responsive{display: inline !important;}
	.result-table tr .fund-name{vertical-align: top;}
	.result-table tr td .policy-company{min-height: 40px;}
	.result-table tr td .policy-name{font-size: 11px;color: #f07722;}
	.nav-table tr:first-child td{height: 10px;padding: 0;color: #32436F;font-family: $primary-Medium;}
	.nav-table tr:first-child td .prev{float: left;margin-top: -3px;}
	.nav-table tr:first-child td .next{float: right;margin-top: -3px;}
	.nav-table tr:first-child td.previous-item{text-align: left;vertical-align: middle;}
	.nav-table tr:first-child td.next-item{text-align: right;vertical-align: middle;}
	.nav-table tr:first-child td .previous-btn{background: transparent;border: 0;}
	.nav-table tr:first-child td .next-btn{background: transparent;border: 0;}
	.nav-table tr:first-child td .previous-btn:active, .nav-table tr:first-child td .previous-btn:hover, .nav-table tr:first-child td .previous-btn:focus {outline: 0;}
	.nav-table tr:first-child td .next-btn:active, .nav-table tr:first-child td .next-btn:hover, .nav-table tr:first-child td .next-btn:focus {outline: 0;}
	.result-table tr td a:hover,.result-table tr td a:focus,.result-table tr td a:active{text-decoration: none;}
	.row-light-gray{padding-bottom: 0;}
	.tooltipster-sidetip.tooltipster-noir.tooltipster-noir-customized .tooltipster-content {color: #6b6a69 !important;}
	.fixed-head.stuck {position: fixed;top: 0px;z-index: 999;}
	.tooltipster-content {color: #6b6a69 !important;}
}

/* INNER VISA PAGES */
.visa-banner-fluid{
	padding: 0px;
	.visa-banner-container{
		.visa-banner-content{
			padding: 0;
			padding-top: 230px;
			padding-bottom: 240px;
			text-align: center;
			.visa-banner-title{
				h2{
					color: $primary-black;
					font-family: $primary-Semibold;
					font-size: 48px;
					margin: 0px;
					padding: 15px 0px 10px 1px;
					text-align: center;
					span{
						color: $primary-blue;
					}
				}
				p{
					color: $primary-black;
					font-family: $primary-Semibold;
					font-size: $fs-light-2-medium;
					padding-top: 15px;
				}
			}
			.visa-overseas-cover{
				padding: 20px 0px;
				p{
					color: $primary-black;
					font-family: $primary-Semibold;
					font-size: $fs-medium;
					padding-top: 15px;
				}
			}
		}
	}
}

@media (min-width: 993px) and (max-width: 1200px){
	.home-banner-fluid{
		.home-banner-container{
			.home-banner-content {
			    padding-top: 140px;
				padding-bottom: 20px;
				.home-overseas-cover{
					.home-overseas-button{
						.btn-holiday, .btn-studying, .btn-visiting{
							font-size: $fs-base;
							padding: 0px 10px;
						}
					}
				}
			} 
		} 
	}

	.visa-banner-fluid{
		.visa-banner-container{
			.visa-banner-content {
			    padding-top: 140px;
				padding-bottom: 20px;
				.visa-banner-title{
					h2{
						font-size: $fs-banner-larger;
					}
				}
				.visa-overseas-cover{
					.visa-overseas-button{
						p{
							font-size: $fs-base;
							padding: 0px 10px;
						}
					}
				}
			} 
		} 
	}

	.looking-fluid{
		.looking-container{
			.looking-particular{
				.cover-button .btn-cover{
					padding: 20px 15px 20px 15px;
					margin: 0px 5px;
					a{
						font-size: $fs-base;
					}
				}
			}
		}
	}

	.medibank-content-fluid {
		.medibank-content-container {
			.benifits-overseas {
			    padding: 25px 0;
			}
		}
	}

	.result-banner-fluid{
		.result-table tr td{width: 10%;}
		.result-table tr td:first-child{width: 15%;}
		.result-top-text{font-size: 36px;}
		.result-sub-text{font-size: 26px;}
		.result-contain{padding-top: 135px;}
	}
}
@media (min-width: 768px) and (max-width: 992px){
	.home-banner-fluid{
		.home-banner-container{
			.home-banner-content {
				padding-top: 110px;
    			padding-bottom: 0px;
				.home-banner-title h2{
					font-size: $fs-small-large;
					span{
						padding: 40px 0 60px 38px;
					}
				}
				.home-overseas-cover{
					padding: 30px 0;
					.home-overseas-button{
						.btn-holiday, .btn-studying, .btn-visiting{
							width: 50%;
							margin-bottom: 15px;
						}
					}
				}
			} 
		} 
	}
	.visa-banner-fluid{
		.visa-banner-container{
			.visa-banner-content {
				padding-top: 110px;
    			padding-bottom: 0px;
				.visa-banner-title h2{
					font-size: $fs-small-large;
				}
				.visa-overseas-cover{
					padding: 15px 0;
					p{
						font-size: $fs-base;
					}
				}
			} 
		} 
	}
	.medibank-content-fluid{
		.medibank-content-container{
			padding: 30px 0px;
			.benifits-overseas{
				padding: 20px 0px;
				.benifits-content{
					.benifits-cover{
						padding: 0px;
					}
				}
			}
		} 
	} 
	.looking-fluid{
		padding: 30px 0px;
		.looking-container{
			.looking-particular{
				.cover-button{
					margin-bottom: 0px;
					.btn-cover{
						width: 47%;
						margin-bottom: 15px;
					}
				} 
			}
		} 
	}
	.result-banner-fluid {
		.result-top-text{font-size: 28px !important;}
		.result-sub-text{font-size: 22px !important;}
		.result-contain{padding-top: 100px;padding-bottom: 10px;}
	}
	.result-container {
		table{border-spacing: 5px;}
		.row-dark-blue{font-size: 12px;}
		.row-light-blue{font-size: 11px;}
		.row-gray{font-size: 11px;}
		.premium{font-size: 15px;}
		.premium-type{font-size: 11px;}
		.buy-now-btn{font-size: 11px !important;padding: 5px 12px !important;margin-top: 10px;}
	}
}
@media (min-width: 651px) and (max-width: 767px){
	.header-fluid{
		.header-container{
			.header-navbar{
				.header-navbar-brand{
				}
				.navbar-toggle{
					border: 1px solid #000;
					.icon-bar{
						background: #000;
					}
				}
			}
			.header-navbar-collapse{
				.navbar-nav {
				    background: #32436f;
				    margin: 0 -15px;
				}
			}
		}
	}
	.home-banner-fluid{
		.home-banner-container{
			.home-banner-content {
				padding-top: 110px;
    			padding-bottom: 0px;
				.home-banner-title h2{
					font-size: $fs-small-large;
					span{
						padding: 40px 0 60px 38px;
					}
				}
				.home-overseas-cover{
					padding: 30px 0;
					.home-overseas-button{
						.btn-holiday, .btn-studying, .btn-visiting{
							width: 50%;
							margin-bottom: 15px;
						}
					}
				}
			} 
		} 
	}
	.visa-banner-fluid{
		.visa-banner-container{
			.visa-banner-content {
				padding-top: 110px;
    			padding-bottom: 0px;
				.visa-banner-title h2{
					font-size: $fs-small-medium;
				}
				.visa-banner-title p{
					font-size: $fs-light-medium;
				}
				.visa-overseas-cover{
					padding: 15px 0;
					p{
						font-size: $fs-base;
					}
				}
			} 
		} 
	}
	.medibank-content-fluid{
		.medibank-content-container{
			padding: 30px 0px;
			.benifits-overseas{
				padding: 20px 0px;
				padding-bottom: 0;
				.benifits-content{
					padding-bottom: 15px;
					.benifits-cover{
						padding: 0px;
					}
				}
			}
		} 
	} 
	.looking-fluid{
		padding: 30px 0px;
		.looking-container{
			padding: 0;
			.looking-particular{
				padding-bottom: 0;
				.cover-button{
					margin-bottom: 0px;
					.btn-cover{
						width: 47%;
						margin-bottom: 15px;
					}
				} 
			}
		} 
	}
	.footer-fluid{
		text-align: center;
		.footer-container {
			.footer-main {
				.footer-menu {
					.social-connect, ul.social-menu {
						text-align: center;
					}
				}
			}
		}
	}
	.result-banner-fluid {
		.result-top-text{font-size: 25px !important;padding-left: 10px;}
		.result-sub-text{font-size: 18px !important;padding-left: 10px;}
		.result-contain{padding-top: 100px;padding-bottom: 10px;}
	}
	.result-container {
		.result-table tr td:first-child, .nav-table tr td:first-child, div .result-table tr td:first-child, div .nav-table tr td:first-child{text-align: center;}
		.result-table tr td:first-child, .nav-table tr td:first-child{height: 47px !important;text-align: center;}
		.result-table tr td, .result-table tr td:first-child{width: 50%;}
		h3, p{text-align: center;}
	}
}
@media (min-width: 501px) and (max-width: 650px){
	.header-fluid{
		.header-container{
			.header-navbar{
				.header-navbar-brand{
				}
				.navbar-toggle{
					border: 1px solid #000;
					.icon-bar{
						background: #000;
					}
				}
			}
			.header-navbar-collapse{
				.navbar-nav {
				    background: #32436f;
				    margin: 0 -15px;
				}
			}
		}
	}
	.home-banner-fluid{
		.home-banner-container{
			.home-banner-content {
				padding-top: 110px;
    			padding-bottom: 0px;
				.home-banner-title h2{
					font-size: $fs-small-large;
					span{
						padding: 40px 0 60px 38px;
					}
				}
				.home-overseas-cover{
					padding: 30px 0;
					.home-overseas-button{
						.btn-holiday, .btn-studying, .btn-visiting{
							width: 65%;
							margin-bottom: 15px;
						}
					}
				}
			} 
		} 
	}
	.visa-banner-fluid{
		.visa-banner-container{
			.visa-banner-content {
				padding-top: 110px;
    			padding-bottom: 0px;
				.visa-banner-title h2{
					font-size: $fs-light-2-medium;
				}
				.visa-banner-title p{
					font-size: $fs-light-medium;
				}
				.visa-overseas-cover{
					padding: 15px 0;
					p{
						font-size: $fs-base;
					}
				}
			} 
		} 
	}
	.medibank-content-fluid{
		.medibank-content-container{
			padding: 30px 0px;
			.benifits-overseas{
				padding: 20px 0px;
				padding-bottom: 0;
				.benifits-content{
					padding-bottom: 20px;
					h4{
						font-size:$fs-medium;
					}
					.benifits-cover{
						padding: 0px;
					}
				}
			}
			h3{
				font-size:$fs-light-2-medium;
			}
		} 
	} 
	.looking-fluid{
		padding: 30px 0px;
		.looking-container{
			padding: 0px;
			.looking-particular{
				padding-bottom: 0;
				.cover-button{
					margin-bottom: 0px;
					.btn-cover{
						width: 93%;
						margin-bottom: 10px;
						padding: 15px;
					}
				} 
			}
			h3{
			    font-size: $fs-light-2-medium;
			}
		} 
	}
	.footer-fluid{
		text-align: center;
		.footer-container {
			.footer-main {
				.footer-menu {
					.social-connect, ul.social-menu {
						text-align: center;
					}
				}
			}
		}
	}
	.result-banner-fluid {
		.result-top-text{font-size: 25px !important;padding-left: 10px;}
		.result-sub-text{font-size: 18px !important;padding-left: 10px;}
		.result-contain{padding-top: 100px;padding-bottom: 10px;}
	}
	.result-container {
		.result-table tr td:first-child, .nav-table tr td:first-child, div .result-table tr td:first-child, div .nav-table tr td:first-child{text-align: center;}
		.result-table tr td:first-child,.nav-table tr td:first-child{height: 47px !important;text-align: center;}
		h3{text-align: center;font-size: 20px;}
		p{text-align: center;font-size: 12px;}
	}
}	
@media (min-width: 0px) and (max-width: 500px){
	.header-fluid{
		.header-container{
			.header-navbar{
				.header-navbar-brand{
					font-size: 13px;
				}
				.navbar-toggle{
					border: 1px solid #000;
					.icon-bar{
						background: #000;
					}
				}
			}
			.header-navbar-collapse{
				.navbar-nav {
				    background: #32436f;
				    margin: 0 -15px;
				}
			}
		}
	}
	.home-banner-fluid{
		.home-banner-container{
			.home-banner-content {
				padding-top: 100px;
				padding-bottom: 0;
				.home-overseas-cover{
					padding: 20px 0px;
					.home-overseas-button{
						.btn-holiday, .btn-studying, .btn-visiting{
							width: 100% !important;
							margin: 0px 0px 15px !important;
						}
					}
				}
				.home-banner-title{
					h2{
						font-size: $fs-medium !important;
						span{
							padding: 45px 0 70px 38px;
						}
					}
					p{
						font-size: $fs-small !important;
					}
				}
			} 
		} 
	} 
	.visa-banner-fluid{
		.visa-banner-container{
			.visa-banner-content {
				padding-top: 110px;
    			padding-bottom: 0px;
				.visa-banner-title h2{
					font-size: $fs-light-medium;
				}
				.visa-banner-title p{
					font-size: $fs-small;
				}
				.visa-overseas-cover{
					padding: 15px 0;
					p{
						font-size: $fs-light;
					}
				}
			} 
		} 
	}
	.medibank-content-fluid{
		padding: 0px;
		.medibank-content-container{
			padding: 30px 0px;
			.benifits-overseas{
				padding: 20px 0;
				.benifits-content h4{
					font-size:$fs-medium;
				}
			}
			h3{
				font-size:$fs-light-medium;
			}
			.benifits-cover{
				padding-bottom: 20px;
			}
		}
	} 
	.looking-fluid{
		padding: 30px 0px;
		.looking-container {
			padding: 0;
			h3{
				font-size:$fs-light-medium;
			}
			.looking-particular {
				padding-bottom: 0;
				.cover-button {
					.btn-cover{
						width: 93%;
					    padding: 15px;
					    margin: 5px 10px;
					}
				}
			}
		}
	}
	.footer-fluid{
		text-align: center;
		.footer-container {
			.footer-main {
				.footer-menu {
					.social-connect, ul.social-menu {
						text-align: center;
					}
				}
			}
		}
	}
	.result-banner-fluid {
		.result-top-text{font-size: 18px !important;padding-left: 10px;}
		.result-sub-text{font-size: 14px !important;padding-left: 10px;}
		.result-contain{padding-top: 100px;padding-bottom: 10px;}
	}
	.result-container {
		.result-table tr td:first-child, .nav-table tr td:first-child, div .result-table tr td:first-child, div .nav-table tr td:first-child{text-align: center;}
		.result-table tr td:first-child,.nav-table tr td:first-child{height: 47px !important;text-align: center;}
		.h3{text-align: center;font-size: 14px;}
		p{text-align: center;font-size: 12px;}
	}
}